<p id="notice"><%= notice %></p>

<h3>Events</h3>

<% cspan = 1 %>
<% if user_signed_in? %>
    <% cspan = 3 %>
<% end %>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Address 3</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Details</th>
      <th colspan="<%= cspan %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.location %></td>
        <td><%= event.address_1 %></td>
        <td><%= event.address_2 %></td>
        <td><%= event.address_3 %></td>
        <td><%= event.city %></td>
        <td><%= event.state %></td>
        <td><%= event.zip %></td>
        <td><%= event.details %></td>
        <td><%= link_to 'Show', event %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<br>

<div id="calendar"></div>

<script type='text/javascript'>

$(function() {
  $('#calendar').fullCalendar({
    googleCalendarApiKey: "<%= @apikey %>",
    eventSources: [
	{
          googleCalendarId: 'yakabod.com_ub0r50ku0horrhvlldk6ctrlss@group.calendar.google.com',
          backgroundColor: '#CF220E',
          borderColor: 'black',
          textColor: 'white'
	},
        {
          googleCalendarId: 'yakabod.com_hmvdc20c0bvm178oihvombml98@group.calendar.google.com',
          backgroundColor: '#EDED0B',
          borderColor: 'black',
          textColor: 'black'
        }
      ],
     eventRender: function(event, element) {
       element.css('font-family', 'sans-serif');
       element.css('font-size', '.69em');
     },
     eventClick: function(event) {
       window.open(event.url, '_blank', 'width=900,height=600');
       return false;
     }
  });
});

</script>

<!--<%= link_to 'New Event', new_event_path %>-->
