<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @member.school %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<% end %>
<%= link_to 'Back', members_path %>